
//- Include used template for this page
extends ../../template/template

include mixin-poster

//- Variables for include this in used template
block variables
    - let title       = 'Technolight'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'download'

block breadcrumbs
    .section.section_breadcrumbs
        .container
            ul.breadcrumbs.animation-element
                li
                    a(href="#") Главная
                li
                    a(href="#") Компания
                li
                    span Скачать

block content
    section.section
        .download
            .container.container_caption.animation-element
                .row
                    .col.col-xl-8
                        h2.container_caption-text Скачать

            .download__body
                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element Каталоги
                        .col-12.col-md-6.col-xl-4
                            +poster('1.svg', 'Catalogue_TECHNOLIGHT_2023', 'Каталог', 'PDF - 19.92 MB', 'Скачать каталог')

                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element Инструкции PROFI 48V
                        .col-12.col-md-6.col-xl-4
                            +poster('2.jpg', 'Трек встраиваемый в гипсокартон', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('3.jpg', 'Трек накладной или подвесной', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('4.jpg', 'Трек мини накладной или подвесной', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('5.jpg', 'Трек для натяжного потолка', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('6.jpg', 'Трековые светильники', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('7.jpg', 'Блоки питания в трек', 'Инструкция по монтажу', 'PDF - 19.92 MB', 'Скачать инструкцию')

                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element Сертификаты
                        .col-12.col-md-6.col-xl-4
                            +poster('8.svg', 'Сертификат на светильники', 'Сертификат качества EAC', 'PDF - 19.92 MB', 'Скачать сертификат')
                        .col-12.col-md-6.col-xl-4
                            +poster('9.svg', 'Сертификат на блоки питания', 'Сертификат качества EAC', 'PDF - 19.92 MB', 'Скачать сертификат')

                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element Фотометрические данные
                        .col-12.col-md-6.col-xl-4
                            +poster('10.svg', 'Трековая система PROFI 48V', 'IES и LDT', 'ZIP - 70.92 KB', 'Скачать IES и LDT')
                        .col-12.col-md-6.col-xl-4
                            +poster('11.svg', 'Лайн 1200 и Дарклайн 350', 'IES и LDT', 'ZIP - 70.92 KB', 'Скачать IES и LDT')
                        .col-12.col-md-6.col-xl-4
                            +poster('12.svg', 'Модульные светильники DOT 220V', 'IES и LDT', 'ZIP - 70.92 KB', 'Скачать IES и LDT')

                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element 3D модели
                        .col-12.col-md-6.col-xl-4
                            +poster('13.jpg', 'Трековая система PROFI 48V', '3D модели', 'ZIP - 70.92 KB', 'Скачать 3D модели')

                .container
                    .row
                        .col-12
                            h3.download__caption.animation-element Инструкции DOT 220V
                        .col-12.col-md-6.col-xl-4
                            +poster('14.jpg', 'Модульные светильники', 'Инструкция по сборке и установке', 'PDF - 19.92 MB', 'Скачать инструкцию')
                        .col-12.col-md-6.col-xl-4
                            +poster('15.jpg', 'Модульные безрамочные светильники', 'Инструкция по сборке и установке', 'PDF - 19.92 MB', 'Скачать инструкцию')
